.gallery {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}
.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
    overflow: hidden;   
}

.gallery-item:hover {
    transform: scale(1.03)
}

.gallery-link {
    display: block;
    height: 100%;
}
.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
}